
@font-face {
  font-family: 'MyWebFont';
  src: url('./bignoodletitling/big_noodle_titling.ttf');
}
.main{
  font-family: MyWebFont;
  color:#31eeff ;
  width: 100%;
  clear: both;
}
html,body
{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  background-image: url('bg_2.jpg');
}